/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  width: 600px;
  max-width: 95%;
  border-radius: 12px;
  padding: 20px;
  animation: fadeModal 0.2s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.modal-footer {
  margin-top: 20px;
  text-align: right;
}

.modal-close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@keyframes fadeModal {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}